<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.probes.kidfitnesslayout">

    <application
        android:allowBackup="true"
        android:label="KidFitness"
        >

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeApp"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Activity_CurrentUser"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeApp">

        </activity>

    </application>


</manifest>
